@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=IM+Fell+English:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
  --roman-font: "IM Fell English", "EB Garamond", "Goudy Old Style", Georgia, serif;
/*  --roman-font: "Roboto Slab", serif;*/
  --heading-font: "IM Fell English SC", "IM Fell English", "EB Garamond", "Goudy Old Style", Georgia, serif;
  --sans-font: "Roboto Slab", sans-serif;
  --mono-font: "IBM Plex Mono", "Source Code Pro", monospace;
  --card-height: 16.8em; /* h:w = 5:7 */
  --card-width: 12em;
  --card-margin: 0.1ex;
  --card-buffer-width: 1ex;
  --stub-width: 1em;
  --stub-color: LightGray;
  --card-border: 2px solid black;
}

html {
  height: 100%;
/*  background: AntiqueWhite; */
}

body {
  font-family: var(--roman-font);
  height: 100%;
  margin: 0;
  text-align: center;
}


header, section#frame {
  height: 20%;
  justify-content: center;
}

header h1, div.card span.date {
  font-family: var(--heading-font);
}

header h1 {
  margin: 0;
  padding-top: 0.5ex;
  padding-bottom: 0.5ex;
}

p.instructions {
  font-style: italic;
  font-size: 110%;
  padding-bottom: 1ex;
  margin: 0;
}

section#frame button {
  margin: 1ex;
}

section#frame form {
}

div#file {
  layout: flex;
  flex-direction: row;
  margin-top: 1ex;
}
div#file input {
  margin-left: 1em;
}

section#frame div#score {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

div#score p {
  margin: 0;
  padding: 0;
  height: 1em;
  font-family: var(--heading-font);
  font-size: 200%;
}


.hide {
  visibility: hidden;
  height: 0;
  width: 0;
}

.show {
  visibility: visible;
}


div.card {
  display: flex;
  flex-direction: column;
  height: var(--card-height);
  width: var(--card-width);
  padding: 1ex;
  margin: var(--card-margin);
  border-radius: 1ex;
  text-align: center;
  border: var(--card-border);
  background-color: LightGray;
 overflow: scroll;
}

div.clue {
  cursor: grab;
}


div.card[data-expand] {
  margin-left: calc(5 * var(--card-margin));
}

div.card span.date {
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 1ex;
  font-family: var(--heading-font);
}

section#game {
  height: 80%;
}

div.clueDeck {
  display: flex;
  flex-direction: row;
  height: 50%;
  justify-content: center;
}

div.clueDeck div.card {
  background-color: WhiteSmoke;
  margin-left: -1px;
}

div.card img {
  max-width: 95%;
  max-height: 50%;
  margin-bottom: 0.5ex;
  margin-left: auto;
  margin-right: auto;
}

div.clueDeck div.card[data-alert="alert"] { 
  background-color: Crimson;
}

div.clueDeck div.cardStub {
  border: var(--card-border);
  border-right: 0;
  border-radius: 1ex 0 0 1ex;
  height: var(--card-height);
  width: var(--stub-width);
  margin-top: var(--card-margin);
  margin-bottom: var(--card-margin);
  padding-top: 1ex;
  padding-bottom: 1ex;
  margin-right: -1ex;
  padding-right: 0;
  background-color: var(--stub-color);
  background-image: url("https://openclipart.org/image/800px/262372");
  background-size: 2em;
  background-repeat: repeat;
  background-blend-mode: soft-light;
}

div.scrollingTimeline {
  position: relative;
  overflow-x: scroll;
  height: 50%;
}

div.timelineBar {
  position: relative;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

hr {
  position: absolute;
  top:  40%;
  width: 100%;
  z-index: -1;
  height: 1ex;
  border: 0;
}

/* TODO
 * We want an hr that is always 100% of the timeline or the window, whichever
 * is wider. This is a hacky solution where we fake the timeline by displaying
 * this one under the one inside div.timelineBar, visible only when the 
 * timeline is less than the screen width.
 */
div.scrollingTimeline hr {
  z-index: -2;
  background: linear-gradient(to right, #d8d8d8, #d0d0d0, #d8d8d8);
}

/* TODO needs to continue for full width as timeline expands */
div.timelineBar hr { 
  background: linear-gradient(to right, LightGray, Black, LightGray);
}

div.timeline {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


footer {
  width: 100%;
  min-height: 3em;
}


div.gameover {
  font-size: 240%;
  font-style: italic;
  color: Crimson;
}

div.gameover p {
  margin: 1ex;
}

main section {
  margin: 1em;
}

div.card * {
  pointer-events: none;
  user-select: none;
  touch-action: none;
}

.flash {
  animation-name: flash_bg;
  animation-duration: .15s;
  animation-iteration-count: 2;
}

@keyframes flash_bg {
  to {
    background-color: red;
  }
}

form#login {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

div.formInputBlock {
  display: table;
  width: 100%;
}

div.formInputBlock div.formItem {
  display: table-row;
}

div.formItem label, div.formItem input {
  display: table-cell;
  padding-bottom: 1ex;
}

div.formItem label {
  text-align: right;
  width: 20%;
}

div.formItem input {
  width: 80%;
}


form#login button {
  margin-top: 1em;
}

ul {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 30vw;
}

nav ul li {
  display: table-cell;
}

nav a {
  text-decoration: none;
  color: DarkBlue;
}

nav a.active {
  font-weight: bold;
}

nav a, form label {
  font-family: sans-serif;
}

ul li button {
  border: none;
  background: none;
}

form#chooser label, form#chooser select {
  margin-right: 1ex;

}

form.timelinePanel {
}

table.timeline {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-family: sans-serif;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}


table.timeline th, table.timeline td {
  padding-left: 1ex;
  padding-right: 1ex;
}

section#new {
  border: 2px solid black;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  padding: 1ex;
  background: WhiteSmoke;
}

section#preview div.card {
  width: var(--card-width);
  margin-left: auto;
  margin-right: auto;
  background: LightSteelBlue;
}


table.timeline th, table.timeline td {
  vertical-align: top;
}

td div.FactListControls {
  display: flex;
  flex-direction: horizontal;
}

td div button + button {
  margin-left: 1ex;
}

div.controls {
  width: 20vw;
  margin-left: 70vw;
  margin-right: 10%;
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
}

div.controls button#save {
  font-size: 150%;
  
}

div.controls button#deleteTimeline {
  font-size: 100%;
}

button.inactive {
  color: gray;
}

div.prose {
  min-width: 30em;
  max-width: 50em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

div.prose p, div.prose ul, div.prose pre {
  margin-top: 0;
  margin-bottom: 1ex;
  margin-left: 0;
  width: 100%;
}

div.buffer {
  width: var(--card-buffer-width);
}

div.buffer.active {
  width: calc(4 * var(--card-buffer-width));
}

div.clueDeck div.cardStub.last {
  width: var(--card-width);
  border: var(--card-border);
  border-radius: 1ex;
  margin-right: var(--stub-width);
  padding-right: 1ex;
}

